/*
TODO::

- on mobile, scroll left-right

*/

:root {
  --card-height: 22rem;
  --card-width: 15rem;
}

* {
  box-sizing: border-box;
}

.person-shape svg {
  fill: yellow;
}

html {
  font-family: "Helvetica";
  font-size: 20px;
  height: 100%;
  line-height: 1.2;
}

body {
  padding: 1em;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  flex-basis: 39%;
}

.titlecontainer {
  font-size: 2rem;
  padding-bottom: 2rem;
  display: flex;
}
.titlecontainer > img {
  display: block;
}

.titlecontainer > img {
  height: 5rem;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  height: 100%;
}

.container-card {
  perspective: 600px;
  width: var(--card-width);
  height: var(--card-height);
  margin: 0.3rem;
}

.card {
  /* Perspective options */
  transition: transform 1s;
  transform-style: preserve-3d;

  position: relative;

  width: 100%;
  height: 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

/* making a semi-transparent shade on top of the card */
.card-shade {
  z-index: 5;
  position: absolute;
  opacity: 0.5;
  width: var(--card-width);
  height: var(--card-height);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.6082808123249299) 13%,
    rgba(195, 142, 93, 0.4598214285714286) 26%,
    rgba(250, 235, 255, 0.5550595238095238) 37%,
    rgba(255, 253, 173, 0.3029586834733894) 52%,
    rgba(255, 255, 255, 0.2945553221288515) 62%,
    rgba(235, 172, 255, 0.22452731092436973) 93%
  );
  pointer-events: none;
}

.card-shade,
.card-front,
.card-back {
  border-radius: 0.8rem;
}

.card-front,
.card-back {
  padding: 0.5rem;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background: linear-gradient(to bottom, #f0ffde 8%, #ff8bfe 75%);
  background-color: #defabe;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 6vh 0.5vh #d5e5ff;
}

.card-front {
  display: flex;
  flex-direction: column;
}

.card-front__middle {
  width: 100%;
  height: 13em;
}

.card-front a {
  height: 100%;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thesis-shape {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card-back {
  overflow: scroll;
  transform: rotateY(180deg);
  transform-origin: center;
  padding: 1rem;
}

.card-front h2 {
  color: black;
  padding: 0.5rem;
  text-align: center;
}

.card-front h3 {
  padding: 0.5rem;
}

.card-front h3::after {
  content: " →";
}

.card a {
  color: black;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
  .titlecontainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .titlecontainer h1 {
    order: 1;
  }

  .titlecontainer img {
    order: 2;
  }
}
